.row
  .col-xs-12.col-sm-offset-3.col-sm-6.col-md-offset-4.col-md-4.text-center
    form.form-group(ng-submit='createUser(user)', name='createQRForm')
      .form-group
        label Kortnummer
        input.form-control(
          type='text',
          name='cardKey',
          placeholder='Scan kort',
          ng-model='user.cardKey',
          required='required',
          disabled
        )
