.center.text-center(ng-switch='!!activeElection')
  div(ng-switch-when='true')
    .election-info
      h2 {{ activeElection.title }}
      p {{ activeElection.description }}

    .alternatives
      h3 Din prioritering
      p(ng-if="priorities.length == 0").helptext.
        Velg et alternativ fra listen for å begynne

      ul.list-unstyled.numbered(
        sortable,
        sortable-on-update="updatePriority",
        sortable-list="priorities",
        sortable-animation='150',
        sortable-delay='50'
        )
        li(
          ng-repeat='alternative in priorities',
          ng-click='deselectAlternative(alternative)',
        )
          p {{ alternative.description }}

    .alternatives
      h3 Alternativer
      ul.list-unstyled
        li(
          ng-repeat='alternative in getPossibleAlternatives()',
          ng-click='selectAlternative(alternative)',
        )
          p {{ alternative.description }}

      confirm-vote(
        vote-handler='vote()',
        selected-alternatives='priorities'
      )

  div(ng-switch-default)
    h2.
      Ingen aktive avstemninger.
    p.
      Denne siden oppdateres automatisk når en ny avstemning er tilgjenglig.
