.center.text-center(ng-switch='!!activeElection')
  div(ng-switch-when='true')
    .election-info
      h2 {{ activeElection.title }}
      p {{ activeElection.description }}

    .alternatives
      h3 Din prioritering
      p.helptext(ng-if='priorities.length == 0')
        em Velg et alternativ fra listen

      ul.list-unstyled.numbered(
        sortable,
        sortable-on-update='updatePriority',
        sortable-list='priorities',
        sortable-animation='100',
        sortable-delay='0',
        sortable-handle='.content'
      )
        li(ng-repeat='alternative in priorities track by alternative._id')
          .content
            i.fa.fa-bars.drag
            p {{ alternative.description }}
          .close(ng-click='deselectAlternative(alternative._id)')
            i.fa.fa-close

    .alternatives
      h3 Alternativer
      ul.list-unstyled
        li(
          ng-repeat='alternative in getPossibleAlternatives()',
          ng-click='selectAlternative(alternative)'
        )
          .content
            p {{ alternative.description }}

      confirm-vote(vote-handler='vote()', selected-alternatives='priorities')

  div(ng-switch-default)
    h2.
      Ingen aktive avstemninger.
    p.
      Denne siden oppdateres automatisk når en ny avstemning er tilgjenglig.
