.center.text-center
  form.form-group.vote-result-form(
    ng-submit='retrieveVote(voteHash)',
    name='retrieveVoteForm'
  )
    .form-group(required)
      label Skriv inn kvittering
      input.form-control(
        type='text',
        name='voteHash',
        ng-model='voteHash',
        placeholder='Kvittering',
        required='required'
      )
      p.text-danger(ng-show='retrieveVoteForm.hash.$invalid') Kvittering er p책krevd

    button#submit.btn.btn-default.btn-lg(
      type='submit',
      ng-disabled='retrieveVoteForm.$invalid'
    ) Hent avstemning

  .text-center.vote-result-feedback(ng-if='vote')
    h3 Din prioritering p책: {{ vote.election.title }}
    .confirmVotes(ng-switch='vote.priorities.length === 0')
      .ballot
        div(ng-switch-when='true')
          h3 Blank stemme
          i Din stemme vil fortsatt p책virke hvor mange stemmer som kreves for 책 vinne
        div(ng-switch-when='false')
          ol
            li.confirm-pri(ng-repeat='alternative in vote.priorities')
              p {{ alternative.description }}
