.row
  .center.text-center
    .election-info.admin
      h2 {{ election.title }}
      p {{ election.description }}
      h3 Tilgangskode: {{ election.accessCode }}

    .election-info.admin
      h3.user-status
        span(ng-bind='votedUsers')
        | /
        span(ng-bind='activeUsers')
        i.fa.fa-users

      button.toggle-election.btn.btn-default.btn-lg(
        ng-click='toggleElection()'
      )
        | {{ election.active ? "Deaktiver" : "Aktiver" }}

    .alternatives.admin
      h3 Alternativer

      ul.list-unstyled
        li(ng-repeat='alternative in election.alternatives')
          p {{ alternative.description }}

      form.add-alternative.form-group(
        name='alternativeForm',
        ng-submit='addAlternative(newAlternative)'
      )
        input#new-alternative.form-control(
          type='text',
          name='alternative',
          placeholder='Skriv inn alternativ',
          ng-if='!election.active',
          ng-model='newAlternative.description',
          required
        )

        button.add-alternative.btn.btn-default(
          type='submit',
          value='Submit',
          ng-if='!election.active',
          ng-disabled='alternativeForm.$invalid'
        ) Legg til alternativ

        button.toggle-show.btn.btn-default(
          type='button',
          ng-click='copyElection()',
          ng-if='!election.active'
        )
          | Kopier avstemning

        button.toggle-show.btn.btn-default(
          type='button',
          ng-click='toggleResult()',
          ng-if='!election.active',
          ng-class='{"alone": election.active}'
        )
          | {{ showResult ? "Fjern resultat" : "Kalkuler resultat" }}

    div(ng-if='showResult')
      h2 Oppsummering
      table.table.mono
        tbody
          tr 
            th.th-left Stemmer
            th.th-right = {{ election.voteCount }}
          tr 
            th.th-left Plasser
            th.th-right = {{ election.seats }}
          tr 
            th.th-left Terskel
            th.th-right ⌊{{ election.voteCount }}/{{ election.seats + 1 }}⌋ + 1 = {{ election.thr }}
      h2 Logg
      ul.list-unstyled.log.mono
        li(ng-repeat='elem in election.log')(ng-switch='elem.action')
          div(ng-switch-when='ITERATION')
            h5 {{ elem.action }} {{ elem.iteration }}
            p(ng-repeat='(key, value) in elem.counts') {{ key }} with {{ value }} votes
          div(ng-switch-when='WIN')
            h5 {{ elem.action }}
            p Elected: {{ elem.alternative.description }} with {{ elem.voteCount }} votes
          div(ng-switch-when='ELIMINATE')
            h5 {{ elem.action }}
            p Eliminated: {{ elem.alternative.description }} with {{ elem.minScore }} votes
          div(ng-switch-when='MULTI_TIE_ELIMINATIONS')
            h5 {{ elem.action }}
            p(ng-repeat='alt in elem.alternatives') Eliminated: {{ alt.description }} with {{ elem.minScore }} votes
          div(ng-switch-when='TIE')
            h5 {{ elem.action }}
            p {{ elem.description }}
      hr
      h2 Resultat
      div(ng-class='\'alert-\' + election.status') {{ election.result.status }}
      table.table.mono
        tbody
          tr(ng-repeat='winner in election.result.winners')
            th.th-right Vinner {{ $index + 1 }}:
            th.th-left {{ winner.description }}
